# The ID of your GitHub App
APP_ID=
PRIVATE_KEY=
WEBHOOK_SECRET=development

# The App Installation ID on GitHub
APP_INSTALLATION_ID=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Blockchain manager account to use
MANAGER_ACCOUNT_PRIVATE_KEY=0x

# Blockchain RPC Node
RPC_NODE_URL=